<template>
  <div class="content">
    <nav>
      <router-link :to="{ name: 'list' }">
        Пользователи
      </router-link>
      /
      <a href="">
        <span v-if="$route.name === 'user' && user">
          {{ user.name }}
        </span>
        <span v-else>{{ $route.meta.title }}</span>
      </a>
    </nav>
    <router-view />
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'user',

  computed: {
    ...mapGetters([
      'user',
    ]),
  },
};
</script>
