<template>
  <div class="list-container"
       :class="loading ? 'loading' : ''"
       >
    <!-- TODO: make list size for real data -->
    <virtual-list class="list"
                  :size="5"
                  :remain="60"
                  :tobtop="previousPage"
                  :tobottom="nextPage"
                  >
      <router-link class="item"
                   v-for="user in list"
                   :key="user.id"
                   :to="{ name: 'user', params: { id: user.id }}"
                   >
        <img :src="user.avatarUrl" />
        <span>{{ user.name }}</span>
      </router-link>
    </virtual-list>
  </div>
</template>

<script>
import virtualList from 'vue-virtual-scroll-list';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'list',

  components: {
    virtualList,
  },

  data() {
    return {
      page: 1,
    };
  },

  computed: {
    ...mapGetters([
      'list',
      'loading',
      'previousPageUrl',
      'nextPageUrl',
    ]),
  },

  methods: {
    ...mapActions([
      'getUsers',
    ]),
    nextPage() {
      if (this.page < 2) this.getUsers(this.nextPageUrl);
      this.page = 2;
    },
    previousPage() {
      if (this.page > 1) this.getUsers(this.previousPage);
      this.page = 1;
    },
  },

  mounted() {
    if (!this.list.length) this.getUsers();
  },
};
</script>

<style scoped>
.list-container {
  border: 1px solid #ccc;
}

.item {
  line-height: 60px;
  display: flex;
}
.item:nth-child(2n + 1) {
  background: rgba(0,0,0,.05);
}
.item img {
  display: inline-block;
  margin: 2px;
  margin-right: 10px;
  height: 56px;
  width: 56px;
  border-radius: 5px;
}
</style>
