<template>
  <div :class="loading ? 'loading' : ''">
    <div class="user-container"
         :class="isEdit ? 'editable' : ''"
         v-if="user"
         >
      <div class="row">
        <div class="label" v-text="'Аватар'" />
        <div class="form" v-if="!isEdit">
          <img v-if="user.avatarUrl" :src="user.avatarUrl" />
        </div>
        <div class="form" v-else>
          <input type="text" v-model="editableUser.avatarUrl" />
          <br />
          <img :src="editableUser.avatarUrl" />
        </div>
      </div>

      <div class="row">
        <div class="label" v-text="'Имя'" />
        <div class="form" v-if="!isEdit">
          <span v-if="user.name" v-text="user.name" />
        </div>
        <div class="form" v-else>
          <input type="text" v-model="editableUser.name" />
        </div>
      </div>

      <div class="buttons">
        <button class="blue"
                @click="edit"
                v-if="!isEdit"
                v-text="'Редактировать'" />
        <button class="orange"
                @click="Canceledit"
                v-if="isEdit"
                v-text="'Отменить'" />
        <button class="green"
                @click="save"
                v-if="isEdit"
                v-text="'Сохранить'" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'single-user',

  data() {
    return {
      isEdit: false,
      editableUser: {
        name: '',
        avatarUrl: '',
      },
    };
  },

  computed: {
    ...mapGetters([
      'loading',
      'user',
    ]),
  },

  methods: {
    ...mapActions([
      'getCurrentUser',
      'updateUser',
    ]),
    edit() {
      this.editableUser.name = JSON.parse(JSON.stringify(this.user.name));
      this.editableUser.avatarUrl = JSON.parse(JSON.stringify(this.user.avatarUrl));
      this.isEdit = true;
    },
    Canceledit() {
      this.isEdit = false;
    },
    save() {
      this.updateUser(this.editableUser, this.$route.params.id);
    },
  },

  mounted() {
    if (this.user.id !== this.$route.params.id) {
      this.getCurrentUser(this.$route.params.id);
    }
  },
};
</script>

<style scoped>
.user-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
}
.editable {
  border: 1px dashed #5bf;
}
.row {
  display: flex;
  padding: 0 14px;
  margin-bottom: 20px;
  line-height: 30px;
}

.label {
  flex: none;
  width: 30%;
  min-width: 100px;
  text-align: right;
  color: #666;
  font-size: 14px;
}
.label:after {
  content: ':';
}

.form {
  flex: 1;
  padding-left: 10px;
  text-align: left;
}
.form input {
  padding: 0 5px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 10px;
}

.buttons {
  text-align: right;
  margin-top: 20px;
}
.buttons button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 1px;
}
</style>
