body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

.content {
  display: block;
  max-width: 640px;
  margin: 60px auto;
}

a {
  text-decoration: none;
}

nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  padding: 10px 5px;
  font-size: 14px;
  transition: .2s;
}
nav a:hover {
  background: #222;
  color: #fff;
}

.blue {
  background: #5bf;
  color: #fff;
}
.orange {
  background: #f82;
  color: #fff;
}
.green {
  background: #0c6;
  color: #000;
}

/* loading  */

.loading {
  position: relative;
}

.loading:before,
.loading:after {
  position: absolute;
}
.loading:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #fff;
  opacity: .8;
}
.loading:before {
  content: '◠';
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  line-height: 60px;
  text-align: center;
  animation: loading 4s linear infinite;
  font-size: 40px;
}
@keyframes loading {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}
